*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:#fff;
    color: #555;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;  

}

.row{
    max-width: 1140px;
    /*margin:0 auto 0 auto;*/
    margin:0 auto;
}

header{
    background-image: url(CryptoHeader.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.top-text{
    position: absolute;
    width: 1140px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    margin: 0;
    color: #fff;
    font-size: 240%;
}

.btn{
    position: relative;
    /*position: absolute;*/
    display: inline-block;
    margin-left: 0px;
    padding: 50px, 50px;
    font-weight: 200 ;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}

.btn-CryptoCoins{
    background-color: #e67e22;
    border-color: #fff;
}

.btn-Trading {
    background-color: #e67e22;
    border-color: #fff;

}

.logo{
    position: absolute;
    height: 100px;
    top: 5%;
    left: 10%;
    width: auto;
    float: left;
}

h6{
    margin: 0;
    color: #fff;
    font-size: 150%;
}

.nav-bar{
    position: absolute;
    top: 7.5%;
    margin-left: 40%;
    float: right;
    list-style: none;

}

.nav-bar li{
    display: inline-block;
    margin-left: 50px;
}

.nav-bar li a{
    color: #fff;
    text-decoration: none;
    
}



